<%- include("partials/header")%>

<h1>Hey! You have choosen <%= food %> dish</h1>

<% if(food === "Sharwarma"){   %>
<p>You have an Excellent taste in food!!</p>
<% } %>

<p>You dish will be served shortly to your table!</p>
<%- include("partials/footer")%>