<%- include("partials/header")%>
<h1>Welcome to  Redsmoke restaurents!!!<h1>
	
<p>what th hell will you eat bro</p>
	
<img src="https://cdn.vox-cdn.com/thumbor/leURrOcIVTpUc58yi-kD3sYUe1M=/0x0:5616x3744/1400x1400/filters:focal(2419x1403:3317x2301):format(jpeg)/cdn.vox-cdn.com/uploads/chorus_image/image/54491887/4845339710_9d87254765_o.0.jpg" height="500px" width="500px">
<%- include("partials/footer")%>